@charset "UTF-8";
/*Teleopti blue*/
/*sets wfm-block*/
.line-right {
  text-align: right; }

.line-center {
  text-align: center; }

.cursor-pointer, .pointer {
  cursor: pointer; }

.show {
  display: block !important; }

.hidden {
  display: none !important; }

.invisible {
  visibility: hidden; }

/*Overrides bootstrap*/
.wfm-datepicker-wrap {
  margin: 5px;
  display: inline-block;
  background-color: #ffffff;
  min-height: 270px; }

.glyphicon {
  display: inline-block;
  font: normal normal normal 24px/1 MaterialDesignIcons;
  font-size: 16px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); }

.glyphicon:hover:before {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.06);
  background: rgba(0, 0, 0, 0.06);
  border-radius: 1px; }

.glyphicon-chevron-right:before {
  content: "" !important; }

.glyphicon-chevron-left:before {
  content: "" !important; }

.wfm-datepicker {
  padding: 5px; }
  .wfm-datepicker table th {
    border-color: transparent; }
  .wfm-datepicker .btn-default {
    border-color: transparent !important;
    background: #ffffff; }
  .wfm-datepicker .btn-info.active {
    background-color: #99d6ff !important;
    color: #ffffff; }
  .wfm-datepicker tbody > tr > td.text-center.h6 {
    opacity: 0.4; }
  .wfm-datepicker .btn {
    border-radius: 0;
    outline: none !important; }
  .wfm-datepicker .btn.active, .wfm-datepicker .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .wfm-datepicker .btn-info {
    color: black;
    background-color: transparent;
    border-color: transparent; }
  .wfm-datepicker .text-info {
    color: inherit; }
  .wfm-datepicker .range > button {
    background-color: #c2e085; }

.wfm-date-range-picker-wrap .inline-datepicker-wrap {
  display: inline-block;
  position: relative; }
  .wfm-date-range-picker-wrap .inline-datepicker-wrap .dropdown-menu {
    position: absolute;
    z-index: 100;
    margin-top: 5px; }
  .wfm-date-range-picker-wrap .inline-datepicker-wrap .start-date-input + .dropdown-menu {
    margin-left: -60px; }
  .wfm-date-range-picker-wrap .inline-datepicker-wrap .end-date-input + .dropdown-menu {
    margin-right: -60px; }

.wfm-date-range-picker-wrap .pin-down {
  background-color: rgba(0, 0, 0, 0.06); }

.wfm-date-range-picker-wrap .popup-control {
  height: 24px;
  width: 24px;
  display: inline-block;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s all ease;
  cursor: pointer; }

.wfm-date-range-picker-wrap .popup-control:hover {
  background-color: rgba(0, 0, 0, 0.06); }

.wfm-date-range-picker-wrap .inline-vertical-fix {
  position: relative;
  top: 4px; }

.wfm-date-range-picker-wrap.ng-invalid .popup-control .mdi-calendar {
  color: #D32F2F; }

.wfm-date-range-picker-wrap input {
  text-align: center;
  width: 200px; }

.wfm-date-range-picker-wrap input.ng-invalid {
  border-bottom: 2px solid #D32F2F; }

.wfm-date-range-picker-wrap .in-date-range button {
  background-color: #c2e085; }

.wfm-date-range-picker-wrap .hor-m-5 {
  margin-left: 5px;
  margin-right: 5px; }

.error-msg-container {
  display: none;
  margin-top: 5px; }

.error-msg-container.error-msg-popup-container {
  position: absolute;
  width: 490px; }

.wfm-date-range-picker-wrap.ng-invalid.ng-invalid-empty .error-msg-container.ng-invalid-empty {
  display: block !important; }

.wfm-date-range-picker-wrap.ng-invalid.ng-invalid-order .error-msg-container.ng-invalid-order {
  display: block !important; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

h1 {
  font-size: 18px; }

h2 {
  font-size: 16px; }

h3 {
  font-size: 14px;
  font-weight: bold; }

.text-muted {
  color: rgba(0, 0, 0, 0.54); }

.text-success {
  color: #9CCC65; }

.text-warning {
  color: #FB8C00; }

.text-danger {
  color: #ee8f7d; }

.text-white {
  color: #ffffff; }

.sm-font-size {
  font-size: 12px !important; }

.full-padding {
  padding: 5px; }

.padding-reset {
  padding: 0 !important; }

.caps:first-letter {
  text-transform: uppercase; }

*:focus {
  outline: -webkit-focus-ring-color auto 0; }

body {
  background-color: rgba(0, 0, 0, 0.06);
  font-size: 14px !important;
  overflow-x: hidden;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important; }
  body a:focus, body a:hover {
    text-decoration: none;
    outline: none !important;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: 0px; }

table {
  border-spacing: 0 !important; }

button, input, select {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important; }

dd {
  margin-left: 40px !important; }

.material-depth-1, .wfm-datepicker-wrap, .wfm-date-range-picker-wrap .pin-down, .error-msg-container, .wfm-btn-default, .wfm-btn-primary, .wfm-slide-tabs md-ink-bar, .sidenav-toggle .sidenav-wrapper, .wfm-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.material-depth-2, .raise:hover, .nav-context-menu [class*="context-menu-"], .wfm-btn-default:hover, .wfm-btn-primary:hover, .wfm-fab:hover, .card-context:focus, .context-menu [class*="context-menu-"], .context-menu:focus, .wfm-card-unselected:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); }

.raise {
  cursor: pointer;
  transition: 0.2s all ease-in-out; }

.material-trench-1 {
  -webkit-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.pull-right {
  float: right; }

.wfm-block, .angular-ui-tree-handle, .wfm-radio, .wfm-checkbox, .wfm-accordion-content, .wfm-accordion-subheader {
  padding: 5px;
  width: 100%; }

.material-block-content {
  padding: 5px;
  vertical-align: middle; }

.layout-container {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }

.layout-container .content {
  -webkit-flex: auto;
  flex: auto;
  padding: 10px;
  flex-basis: 70%;
  margin: 62px 10px 0px 10px; }

.md-ripple-container {
  visibility: hidden; }

.panel {
  margin-bottom: 10px;
  background: #ffffff;
  position: relative;
  border-radius: 0;
  border: 0px solid transparent; }
  .panel .panel-menu {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10; }
  .panel .con-footer {
    text-align: right;
    color: rgba(0, 0, 0, 0.87); }

.panel-switch label {
  padding-right: 58px; }

@media only screen and (max-width: 1100px) {
  .panel-switch {
    text-align: left !important; } }

.con-flex {
  flex-basis: 100%;
  padding: 5px; }
  .con-flex input, .con-flex select {
    width: 100%; }

.split-3-1 {
  flex-basis: 50% !important; }

.split-1-2 {
  flex-basis: 25% !important; }

@media screen and (min-width: 768px) {
  .con-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .con-flex {
    flex: 1; } }

.tree {
  max-height: 800px;
  overflow-y: auto;
  vertical-align: middle; }
  .tree ol {
    list-style: none; }
  .tree li {
    border-top: 1px solid rgba(0, 0, 0, 0.06); }

.angular-ui-tree-handle .tree-line-right {
  opacity: 1;
  float: right;
  text-align: center;
  color: rgba(0, 0, 0, 0.87); }
  .angular-ui-tree-handle .tree-line-right i {
    opacity: 0; }

.angular-ui-tree-handle.selected span i {
  opacity: 1; }

.angular-ui-tree-handle {
  cursor: pointer;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  border-left: 3px solid transparent; }
  .angular-ui-tree-handle:hover {
    background-color: rgba(0, 0, 0, 0.06); }

.angular-ui-tree-handle.selected {
  padding-left: 5px;
  border-left: 3px solid #E91E63;
  background-color: #c2e085; }

.angular-ui-tree-handle.selected.ng-hide {
  display: block !important;
  line-height: inherit; }

.angular-ui-tree-handle.ng-hide {
  line-height: 0; }

.toggle-handle {
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: 5px;
  padding-top: 4px; }

.toggle-handle.open i {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg); }

.tree-toggle-group {
  display: flex; }

.wfm-simple-list {
  padding-left: 0px;
  list-style: none;
  max-height: 800px;
  overflow-y: auto;
  margin: 0; }
  .wfm-simple-list .subtext {
    color: rgba(0, 0, 0, 0.54); }

.wfm-simple-list li {
  padding: 5px;
  margin-bottom: 5px;
  overflow: hidden; }

/*.wfm-simple-list li:nth-child(even) {
   background-color: $gray012;
}*/
.list-dot {
  float: left !important;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  background: #c2e085;
  box-shadow: 0 0 0 3px #c2e085; }

ul {
  margin-bottom: 0 !important;
  list-style: none;
  padding-left: 0; }

.list-item-container {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  margin-left: 30px; }

@media (min-width: 600px) {
  .list-item-container {
    max-width: 100%; } }

@media (max-width: 599px) {
  .list-item-container {
    max-width: 12em; } }

@media (max-width: 450px) {
  .list-item-container {
    max-width: 5em; } }

.wfm-list, .ui-grid-menu-items {
  padding-left: 0px;
  list-style: none;
  max-height: 800px;
  overflow-y: auto;
  margin: 0;
  background: #ffffff; }

.wfm-list li, .ui-grid-menu-items li {
  padding: 5px;
  cursor: pointer;
  overflow: hidden;
  border-left: 3px solid transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  position: relative;
  overflow-x: hidden; }
  .wfm-list li:hover, .ui-grid-menu-items li:hover {
    border-left: 3px solid #9E9E9E;
    background-color: #E0E0E0; }
  .wfm-list li.active, .ui-grid-menu-items li.active {
    border-left: 3px solid #E91E63;
    background-color: #c2e085; }
  .wfm-list li.active:hover, .ui-grid-menu-items li.active:hover {
    border-left: 3px solid #E91E63;
    background-color: #c2e085; }
  .wfm-list li i, .ui-grid-menu-items li i {
    vertical-align: baseline;
    margin-right: 5px;
    color: #555555;
    padding-bottom: 5px; }
  .wfm-list li.disabled, .ui-grid-menu-items li.disabled {
    background: rgba(0, 0, 0, 0.06) !important;
    cursor: not-allowed;
    pointer-events: none; }

.wfm-leave-behind {
  height: 40px;
  width: 0;
  display: inline !important;
  position: absolute !important;
  right: 0;
  overflow: hidden;
  margin-top: -8px;
  transition: all .5s ease-in-out;
  padding-top: 8px;
  background-color: #cacaca;
  z-index: 999;
  border-bottom: 8px solid transparent; }
  .wfm-leave-behind span {
    padding-left: 5px;
    white-space: nowrap; }
  .wfm-leave-behind i {
    position: justify;
    padding-top: 2px;
    font-size: 18px;
    margin: 0 5px; }
  .wfm-leave-behind p {
    padding-left: 5px;
    margin: 0 5px; }

.wfm-list li:hover > .wfm-leave-behind, .ui-grid-menu-items li:hover > .wfm-leave-behind {
  width: 110px; }

.wfm-list li:hover > .wfm-leave-behind.wfm-leave-behind-1, .ui-grid-menu-items li:hover > .wfm-leave-behind.wfm-leave-behind-1 {
  width: 40px; }

.wfm-list li:hover > .wfm-leave-behind.wfm-leave-behind-2, .ui-grid-menu-items li:hover > .wfm-leave-behind.wfm-leave-behind-2 {
  width: 75px; }

.wfm-list li:hover > .wfm-leave-behind.wfm-leave-behind-3, .ui-grid-menu-items li:hover > .wfm-leave-behind.wfm-leave-behind-3 {
  width: 110px; }

.wfm-list li:hover > .wfm-leave-behind.wfm-leave-behind-4, .ui-grid-menu-items li:hover > .wfm-leave-behind.wfm-leave-behind-4 {
  width: 145px; }

label {
  display: inline !important;
  font-weight: normal; }

input[type='text'], [type='number'], input[type='password'], select {
  border: none;
  color: rgba(0, 0, 0, 0.87);
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  line-height: 1;
  cursor: pointer;
  height: 20px;
  border-bottom: 1px solid #E0E0E0; }
  input[type='text']:focus, [type='number']:focus, input[type='password']:focus, select:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #99d6ff; }

select:after {
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
  border-top: .375em solid red;
  pointer-events: none; }

.input-prepend {
  width: 100%; }
  .input-prepend i {
    display: inline-block;
    width: 18px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54); }
    .input-prepend i:before {
      vertical-align: sub; }
  .input-prepend input[type='text'] {
    display: inline-block;
    width: auto; }

.disableInputField {
  display: inline-block;
  background: none;
  border: none;
  outline: none;
  width: 50%;
  margin: 0;
  text-overflow: ellipsis; }

.fileUpload {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top; }

.uploadBtn {
  display: inline-block;
  line-height: 22px;
  cursor: pointer;
  margin: 5px; }

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  filter: alpha(opacity=0); }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(0, 0, 0, 0.26); }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(0, 0, 0, 0.26);
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(0, 0, 0, 0.26);
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(0, 0, 0, 0.26); }

/*Form validation*/
.wfm-form label {
  cursor: pointer !important;
  color: rgba(0, 0, 0, 0.54);
  display: inline-block !important; }

.wfm-form input, .wfm-form select {
  max-width: 100%;
  margin-right: 100%; }

.wfm-form input > .ng-invalid {
  border-bottom: 5px solid red !important; }

.wfm-form input[type="text"],
.wfm-form input[type="number"],
.wfm-form input[type="password"],
.wfm-form input[type="email"] {
  padding: 0 0 0 4px !important; }

.wfm-form select {
  padding: 0 0 0 0; }

.wfm-form .form-input-message {
  opacity: 0;
  height: 0;
  transition: all 0.5s ease-in-out; }

.wfm-form .formInvalidInput {
  opacity: 1;
  height: auto;
  color: red !important; }

.wfm-form .form-input-wrap {
  padding: 10px 0; }

.wfm-form .animate-input-message {
  line-height: 20px;
  height: auto;
  opacity: 1; }

.wfm-form .animate-input-message.ng-hide-add, .wfm-form .animate-input-message.ng-hide-remove {
  transition: all 0.5s ease-in-out; }

.wfm-form .animate-input-message.ng-hide {
  line-height: 0;
  height: 0;
  opacity: 0; }

.md-select-menu-container {
  background: #ffffff !important; }
  .md-select-menu-container .md-active {
    z-index: 1010; }

md-select.md-default-theme:not([disabled]):focus .md-select-label {
  border-bottom: #E91E63 1px solid;
  padding: 0; }

md-select-menu md-option:hover {
  background-color: #E0E0E0; }

md-select-menu md-option[selected], md-select-menu md-option[selected]:focus {
  background-color: #c2e085; }

md-select {
  margin-top: auto; }
  md-select .md-select-label {
    padding: 0;
    height: 21px; }

md-option {
  height: 30px; }

.wfm-radio input[type='radio'] {
  display: none; }

.wfm-radio .wfm-radio-toggle {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.26);
  width: 20px;
  height: 20px;
  border-radius: 40px;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
  cursor: pointer; }

.wfm-radio input[type=radio]:checked ~ label .wfm-radio-toggle,
.wfm-radio input[type=radio]:checked ~ .wfm-radio-toggle {
  background-color: #66c2ff; }

.wfm-radio .wfm-radio-label {
  margin-left: 25px;
  white-space: nowrap;
  cursor: pointer; }

.wfm-checkbox input[type='checkbox'] {
  display: none; }

.wfm-checkbox .wfm-checkbox-toggle:after {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.26);
  width: 20px;
  height: 20px;
  float: right;
  border-radius: 2px;
  content: " ";
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
  cursor: pointer; }

.wfm-checkbox input[type=checkbox]:checked ~ label .wfm-checkbox-toggle:after,
.wfm-checkbox input[type=checkbox]:checked ~ .wfm-checkbox-toggle:after {
  background-color: #66c2ff;
  content: "✓";
  text-align: center;
  color: #ffffff; }

.wfm-checkbox .wfm-checkbox-label {
  margin-left: 25px;
  white-space: nowrap;
  cursor: pointer; }

.wfm-switch {
  position: relative;
  height: 24px;
  padding-top: 2px; }
  .wfm-switch label {
    vertical-align: middle; }
  .wfm-switch input[type='checkbox'] {
    display: none; }
  .wfm-switch .wfm-switch-toggle {
    position: absolute;
    background-color: #E0E0E0;
    width: 48px;
    height: 18px;
    border-radius: 40px;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    margin: 2px 5px;
    cursor: pointer; }
  .wfm-switch .wfm-switch-toggle:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 44px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    z-index: 1;
    left: 5px;
    background-color: #ffffff;
    -webkit-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out; }
  .wfm-switch input[type=checkbox]:checked ~ label .wfm-switch-toggle {
    background-color: #66c2ff; }
  .wfm-switch input[type=checkbox]:checked ~ label .wfm-switch-toggle:after {
    left: 30px; }
  .wfm-switch .wfm-switch-label {
    white-space: nowrap;
    cursor: pointer; }

md-slider .md-focus-thumb, md-slider .md-focus-ring {
  display: none !important; }

md-slider .md-thumb {
  cursor: pointer; }

md-slider canvas {
  display: none; }

/*slider theme*/
md-slider .md-thumb:after {
  border-color: #66c2ff;
  background-color: #66c2ff; }

md-slider .md-track.md-track-fill,
md-slider .md-sign {
  background-color: #66c2ff; }

md-slider .md-sign:after {
  border-top-color: #66c2ff; }

md-slider.md-min .md-thumb:after {
  background-color: #ffffff !important;
  transition: all 0.5s ease-in-out; }

.view-header {
  width: 100%;
  display: inline-flex; }

.view-title {
  width: 90%; }

.fab-wrapper {
  width: 10%;
  z-index: 99; }
  .fab-wrapper .wfm-fab {
    margin-top: -3px;
    position: relative; }

.head-actions {
  float: right;
  margin-top: -10px; }

.sub-header {
  padding: 5px;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 5px; }
  .sub-header h2 {
    margin: 0 !important; }

.bottom-header {
  padding: 5px;
  background-color: #99d6ff;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06); }

.sidenav-header {
  padding: 10px 5px !important;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  overflow: hidden;
  position: relative;
  display: flex; }
  .sidenav-header:hover {
    background: rgba(0, 0, 0, 0.06); }

.toolbar {
  margin-bottom: 5px; }

.navbar {
  background-color: #0099FF;
  border-radius: 0;
  border: none;
  margin-bottom: 0; }
  .navbar a {
    text-decoration: none;
    display: inline-block; }
  .navbar .brand {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-left: 35px; }
  .navbar .content {
    height: 22px;
    padding: 15px;
    line-height: 20px;
    width: 98%;
    box-sizing: content-box !important; }
  .navbar .wfm-container {
    padding-left: 5px; }
  .navbar i {
    color: #ffffff;
    vertical-align: middle; }

.result-icon i {
  color: white !important;
  padding: 0px !important;
  margin: 0px !important; }

.navbar-left {
  float: left;
  max-height: 35px; }

.navbar-right {
  font-size: 14px !important;
  float: right;
  margin-right: 0; }
  .navbar-right input[type=text] {
    line-height: initial !important; }
  .navbar-right button {
    padding: 0 0 !important; }

/*search*/
.global-search {
  font-size: 14px !important;
  padding-left: 5px;
  width: 13rem;
  transition: all 0.5s ease-in-out; }
  .global-search:focus {
    width: 27rem; }

.search-results {
  position: fixed;
  width: 270px;
  font-size: 14px;
  display: block;
  max-height: 75%;
  overflow-y: auto;
  margin: 5px 23px;
  background: #ffffff;
  -webkit-transition: 0.5s all 0.5s ease-in;
  -moz-transition: 0.5s all 0.5s ease-in;
  -ms-transition: 0.5s all 0.5s ease-in;
  -o-transition: 0.5s all 0.5s ease-in;
  transition: 0.5s all 0.5s ease-in;
  opacity: 1; }

.global-search:not(:focus) ~ .search-results {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
  opacity: 0; }

.nav-context-menu {
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none; }
  .nav-context-menu [class*="context-menu-"] {
    transition: all 0.5s ease-in-out;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    min-width: 200px; }
  .nav-context-menu:focus {
    box-shadow: none !important; }
    .nav-context-menu:focus [class*="context-menu-"] {
      visibility: visible;
      opacity: 1;
      z-index: 10; }
    .nav-context-menu:focus i {
      color: rgba(0, 0, 0, 0.54) !important; }
  .nav-context-menu .context-content {
    color: rgba(0, 0, 0, 0.87);
    padding: 5px;
    text-align: left !important;
    background: #ffffff;
    min-width: 300px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2) !important;
    text-transform: initial; }
    .nav-context-menu .context-content p, .nav-context-menu .context-content li {
      font-size: 14px !important; }
    .nav-context-menu .context-content .description {
      padding-left: 5px; }
    .nav-context-menu .context-content footer {
      text-align: right; }
  .nav-context-menu .arrow-up {
    width: 0;
    height: 0;
    float: right;
    margin-top: -15px !important;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 15px solid white; }
  .nav-context-menu .nav-context-menu-left {
    top: 100%;
    right: 100%;
    margin: 20px -22px 0 0;
    text-transform: lowercase; }
    .nav-context-menu .nav-context-menu-left:before {
      left: 100%;
      margin-top: 10px; }

.notification-ticker {
  color: white;
  font-size: 50%;
  background: orange;
  border-radius: 5px;
  margin-top: -40px;
  padding: -1px 1px 0 0;
  z-index: 99999;
  text-align: center; }

.wfm-btn {
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  text-decoration: none !important;
  text-transform: uppercase; }

.wfm-btn-invis-default {
  color: black !important;
  background-color: transparent; }
  .wfm-btn-invis-default:hover {
    background-color: #ececec; }

.wfm-btn-invis-primary {
  color: #0099FF !important;
  background-color: transparent; }
  .wfm-btn-invis-primary:hover {
    background-color: #ececec; }

.wfm-btn-invis-disabled {
  color: rgba(0, 0, 0, 0.26) !important;
  background-color: transparent; }
  .wfm-btn-invis-disabled:hover {
    cursor: not-allowed; }

.wfm-btn-primary-disabled {
  color: rgba(0, 0, 0, 0.26) !important;
  background-color: rgba(0, 0, 0, 0.06); }
  .wfm-btn-primary-disabled:hover {
    cursor: not-allowed; }

.wfm-btn-default {
  color: rgba(0, 0, 0, 0.87) !important;
  background-color: #ffffff; }

.wfm-btn-primary {
  color: #ffffff;
  background-color: #0099FF; }

.wfm-fab {
  border: none;
  margin: 5px;
  cursor: pointer;
  padding: 15px;
  line-height: 16px !important;
  background-color: #0099FF;
  color: white;
  text-align: center;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  text-decoration: none !important; }
  .wfm-fab.mini {
    padding: 8px !important;
    /*max-height: 34px;*/ }

.wfm-fab.success {
  background-color: #c2e085;
  color: rgba(0, 0, 0, 0.87); }

.wfm-fab.info {
  background-color: #9C27B0;
  color: #ffffff; }

.grow-out {
  animation: grow 0.2s;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
  -webkit-animation: grow 0.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-play-state: running; }

.shrink-in {
  animation: shrink 0.2s;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
  -webkit-animation: shrink 0.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-play-state: running; }

.wfm-table {
  width: 100%;
  text-align: left; }

.wfm-table td, .wfm-table th {
  border: 1px solid rgba(0, 0, 0, 0.06);
  color: rgba(0, 0, 0, 0.54);
  padding: 5px;
  background-color: #ffffff; }

.wfm-table th, .wfm-table-header, .ui-grid-header-cell {
  color: rgba(0, 0, 0, 0.87);
  background-color: #99d6ff;
  text-align: center; }

.wfm-table .number-cell {
  text-align: right; }

.wfm-table-multi th:first-child, .wfm-table-multi td:first-child {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
  background-color: #99d6ff; }

.myGrid {
  width: 100%; }

/* Datagrid */
.ui-grid-header-cell {
  border: none; }
  .ui-grid-header-cell i {
    text-align: right;
    float: none; }
  .ui-grid-header-cell:hover {
    background-color: #66c2ff;
    cursor: pointer; }

.ui-grid {
  border-left: none;
  border-right: none; }

.big-table-wrapper h4 span {
  float: right;
  margin-right: 16px; }
  .big-table-wrapper h4 span i {
    cursor: pointer; }

.ui-grid-header-canvas {
  background-color: #99d6ff; }

.ui-grid-viewport.ng-isolate-scope {
  overflow-x: auto !important; }

.ui-grid-top-panel {
  background: #ffffff;
  color: rgba(0, 0, 0, 0.54); }

.ui-grid-header {
  border: none; }

.ui-grid-row .ui-grid-cell {
  border: none;
  background-color: #ffffff !important;
  border-bottom: 1px solid #E0E0E0; }

.ui-grid-header-cell .ui-grid-vertical-bar {
  display: none;
  text-align: left; }

.ui-grid-menu-items {
  box-shadow: none !important; }
  .ui-grid-menu-items li:hover {
    box-shadow: none; }

.ui-grid-menu .ui-grid-menu-inner ul li:hover, .ui-grid-menu .ui-grid-menu-inner ul li.ui-grid-menu-item-active {
  box-shadow: none; }

.ui-grid-selection-row-header-buttons {
  opacity: 1;
  color: rgba(0, 0, 0, 0.87); }

.ui-grid-menu-button {
  background: transparent;
  border: none; }

.ui-grid-row-selected::before {
  color: rgba(0, 0, 0, 0.87); }

.big-table-wrapper {
  background-color: #ffffff; }

/*zebra stripe
.ui-grid-row:nth-child(odd) > [ui-grid-row] > .ui-grid-cell{
	background-color: $gray012!important;
}*/
/*icons*/
.ui-grid-icon-ok:before {
  content: "" !important; }

.ui-grid-all-selected.ui-grid-icon-ok:before {
  content: "" !important; }

.ui-grid-row-selected .ui-grid-icon-ok:before {
  content: "" !important; }

.ui-grid-menu-item .ui-grid-icon-ok:before {
  content: "" !important; }

.ui-grid-menu-item .ui-grid-icon-cancel:before {
  content: "" !important; }

.ui-grid-icon-down-dir:before {
  content: "" !important; }

.ui-grid-icon-up-dir:before {
  content: "" !important; }

.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background-color: #c2e085 !important; }

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
  border-color: #E0E0E0 !important;
  border-right: none !important; }

.big-table-footer-actions {
  text-align: right; }

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child {
  border-right: none; }

.modal-box {
  /*Dialog*/
  /*Mini dialog*/ }
  .modal-box .modalbg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99998;
    background: rgba(0, 0, 0, 0.26); }
  .modal-box .dialog, .modal-box .dialog-mini {
    width: 60%;
    z-index: 99999;
    position: relative;
    top: -20px;
    margin: 10% auto;
    background: #ffffff; }
  .modal-box .dialog-mini {
    width: 25%; }
  .modal-box .tabbed-panel > md-content {
    padding: 0; }
  @media only screen and (max-width: 769px) {
    .modal-box .dialog {
      width: 90%; } }
  @media only screen and (max-width: 1200px) {
    .modal-box .dialog-mini {
      width: 90% !important; } }
  .modal-box .modal-title {
    padding-left: 10px !important;
    text-align: left; }
  .modal-box .modal-inner-content {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.87);
    max-height: 70vh;
    padding: 10px;
    overflow-y: auto;
    text-align: left; }
  .modal-box .modal-actions {
    color: rgba(0, 0, 0, 0.87); }
  .modal-box aside {
    text-align: right; }

.click-modal .head-actions {
  margin-top: 0; }

.click-modal .dialog {
  position: fixed; }

.wfm-accordion {
  list-style: none;
  padding: 0; }

.wfm-accordion-head {
  width: 100%;
  padding: 5px;
  background-color: #66c2ff;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  cursor: pointer; }

.wfm-accordion-head i {
  float: right;
  transition: all 0.5s ease-in-out; }

.wfm-accordion-subheader {
  background-color: #99d6ff;
  color: rgba(0, 0, 0, 0.87); }

.sidenav-header.accordion-head, .bottom-header.accordion-head {
  list-style: none;
  cursor: pointer; }

.toggle-icon-open {
  transform: rotate(90deg); }

.card-context {
  border: none;
  margin: 5px;
  cursor: pointer;
  padding: 8px;
  line-height: 16px !important;
  text-align: center;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  text-decoration: none !important; }

.card-context:hover {
  background: rgba(0, 0, 0, 0.06) !important; }

.card-context:focus {
  background: rgba(0, 0, 0, 0.06) !important; }

.context-menu {
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none;
  display: inline-block; }
  .context-menu [class*="context-menu-"] {
    transition: all 0.5s ease-in-out;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    min-width: 200px; }
  .context-menu:focus [class*="context-menu-"] {
    visibility: visible;
    opacity: 1;
    z-index: 10; }
  .context-menu ul {
    color: rgba(0, 0, 0, 0.87);
    text-align: left !important; }
  .context-menu .context-menu-right {
    top: 100%;
    left: 100%;
    margin: -40px 0 0 10px;
    text-transform: lowercase; }
    .context-menu .context-menu-right:before {
      right: 100%;
      margin-top: 10px; }
  .context-menu .context-menu-bottom {
    top: 100%;
    left: 50%;
    margin: 10px 0 0 -100px;
    text-transform: lowercase; }
    .context-menu .context-menu-bottom:before {
      bottom: 100%;
      left: 50%;
      margin-left: -10px; }
  .context-menu .context-menu-left {
    top: 100%;
    right: 100%;
    margin: -40px 10px 0 0;
    text-transform: lowercase; }
    .context-menu .context-menu-left:before {
      left: 100%;
      margin-top: 10px; }

.wfm-slide-tabs .md-active {
  color: rgba(0, 0, 0, 0.87) !important; }

.wfm-slide-tabs md-ink-bar {
  box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.26) !important; }

.wfm-slide-tabs md-tab-item:not([disabled]) {
  color: rgba(0, 0, 0, 0.87) !important; }

.wfm-slide-tabs md-next-button {
  padding-right: 18%;
  background: #99d6ff; }

.wfm-slide-tabs .md-ripple-container {
  background-color: transparent !important; }

.wfm-slide-tabs .wizard-step {
  float: right; }

.wfm-slide-tabs md-content {
  color: rgba(0, 0, 0, 0.87); }

.wfm-slide-tabs md-tabs {
  border-radius: 0; }

.wfm-slide-tabs md-tabs.md-default-theme md-tab.active {
  color: rgba(0, 0, 0, 0.87) !important; }

.wfm-slide-tabs md-tab md-tab-label {
  padding-bottom: 10px !important; }

.wfm-slide-tabs .md-header {
  height: 30px !important; }

.wfm-slide-tabs md-ink-bar {
  top: 0 !important;
  height: 36px;
  z-index: -1;
  background: #ffffff; }

md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused {
  color: rgba(0, 0, 0, 0.87); }

md-content.md-default-theme {
  background-color: #ffffff !important; }

.wfm-slide-tabs md-tabs .md-tab {
  margin-top: -8px; }

.wfm-slide-tabs md-tabs-wrapper {
  height: 36px !important; }

@media (max-width: 599px) {
  .modal-box .modalbg .dialog {
    max-height: 90%;
    overflow-y: auto !important; } }

@media (min-width: 600px) {
  .modal-box .modalbg .dialog {
    max-height: 70%;
    overflow-y: auto !important; } }

.label:hover, .tab-group input[type=radio]:checked + .label {
  background-color: #0099FF; }

.tabbed-panel md-content, .tabbed-panel md-padding {
  padding: 0 !important; }

.tabbed-panel .card-context {
  margin: 0; }

.tabbed-panel md-tabs-wrapper {
  padding-top: 1px;
  background: #99d6ff;
  border-width: 0 !important;
  border-style: none !important; }

.tabbed-panel .md-padding {
  padding: 0 5px; }

.tabbed-panel .head-actions {
  margin-top: -8px; }

.tabbed-panel-header .card-context {
  margin-top: 15px; }

/*This is because of growl and bootstrap*/
.alert-error {
  background-color: #ee8f7d;
  border: none;
  border-radius: 0; }

.alert-success {
  background-color: #c2e085;
  border: none;
  border-radius: 0; }

.alert-info {
  background-color: #66c2ff;
  border: none;
  border-radius: 0; }

.alert-warning {
  background-color: #ffc285;
  border: none;
  border-radius: 0; }

.alert-detail {
  background-color: rgba(0, 0, 0, 0.06);
  border: none;
  border-radius: 0; }

.notice-spacer {
  padding: 10px 5px;
  margin-bottom: 5px; }

.growl-container > .growl-item {
  padding: 5px;
  margin-bottom: 0;
  padding: 10px;
  padding-right: 35px;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); }
  .growl-container > .growl-item .mdi {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.54); }

.growl-item .close {
  text-shadow: none;
  opacity: 1;
  position: relative;
  float: right;
  background: 0 0;
  border: 0;
  color: rgba(0, 0, 0, 0.87);
  padding: 0; }

.growl-container > button {
  border: none;
  outline: none; }

.growl-container > .growl-item.ng-enter,
.growl-container > .growl-item.ng-leave {
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out; }

.growl-container > .growl-item.ng-enter,
.growl-container > .growl-item.ng-leave.ng-leave-active {
  opacity: 0; }

.growl-container > .growl-item.ng-leave,
.growl-container > .growl-item.ng-enter.ng-enter-active {
  opacity: 1; }

.growl-container > div.growl-item {
  background-repeat: no-repeat; }

.notification-list li {
  background: transparent;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.06); }

.notification-list i {
  padding-right: 0;
  margin-right: 5px; }

.notification-list .subtext {
  margin-left: 26px; }

.mdi:before {
  font-size: 18px !important; }

.mdi-icon, [class^="ui-grid-icon"]:before, [class*=" ui-grid-icon"]:before {
  display: inline-block;
  font: normal normal normal 24px/1 MaterialDesignIcons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); }

.ui-grid-icon-angle-down:before {
  content: "\f35d"; }

.ui-grid-icon-down-dir:before {
  content: "\f35e"; }

.ui-grid-icon-up-dir:before {
  content: "\f361"; }

.ui-grid-icon-sort-alt-up:before {
  content: "\f447"; }

.ui-grid-icon-sort-alt-down:before {
  content: "\f448"; }

.ui-grid-icon-cancel:before {
  content: "\f1f4"; }

.ui-grid-icon-menu::before {
  content: "\f253"; }

.ui-grid-icon-ok::before {
  content: "\f1d1"; }

.sidenav-toggle input[type='checkbox'] {
  display: none; }

.sidenav-toggle label {
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  max-width: none;
  margin: 0; }

.sidenav-toggle label i {
  margin: 5px; }

.sidenav-tooltip {
  margin-left: 64px;
  margin-top: -27px; }

.sidenav-toggle .sidenav-wrapper {
  background-color: #ffffff;
  cursor: pointer;
  margin-top: 62px; }

.layout-container .sidenav {
  background-color: #ffffff;
  flex-basis: 240px;
  top: 0;
  height: 1050px;
  height: 100vh;
  bottom: 0;
  transition: all 0.5s ease-in-out;
  padding-top: 52px;
  overflow: hidden;
  text-overflow: hidden; }
  .layout-container .sidenav i {
    margin-right: 10px;
    margin-left: 10px; }
  .layout-container .sidenav span {
    display: inline;
    opacity: 1;
    white-space: nowrap;
    padding-left: 20px;
    text-overflow: ellipsis; }

.sidenav.is-hidden {
  overflow: hidden;
  text-overflow: hidden;
  transition: all 0.5s ease-in-out;
  flex-basis: 50px; }
  .sidenav.is-hidden span {
    width: 0; }

.tile-footer {
  text-align: right; }

.sidenav-toggle label {
  padding: 5px 0px; }

.nav-item-active .sidenav-header {
  background: #c2e085; }

md-progress-linear .md-bar {
  background-color: #E91E63 !important; }

md-progress-linear[md-mode=buffer] .md-dashed:before {
  background-color: #c5cae9;
  animation: none;
  -webkit-animation: none; }

md-progress-circular .md-inner .md-half-circle {
  border-left-color: #E91E63 !important; }

md-progress-circular .md-inner .md-left .md-half-circle {
  border-left-color: #E91E63; }

md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle,
md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle,
md-progress-circular .md-inner .md-gap {
  border-top-color: #E91E63; }

md-progress-circular .md-inner .md-right .md-half-circle {
  border-right-color: #E91E63; }

.animate-show, .wfm-accordion-content {
  opacity: 1; }

.animate-show.ng-hide-add.ng-hide-add-active, .ng-hide-add.ng-hide-add-active.wfm-accordion-content,
.animate-show.ng-hide-remove.ng-hide-remove-active,
.ng-hide-remove.ng-hide-remove-active.wfm-accordion-content {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s; }

.animate-show.ng-hide, .ng-hide.wfm-accordion-content {
  line-height: 0;
  opacity: 0; }

.bubble-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #ffffff;
  overflow: hidden; }
  @media screen and (min-width: 0\0) {
    .bubble-wrap {
      background: #66c2ff; } }

.bubble {
  height: 60px;
  width: 60px;
  background-color: #66C2FF;
  top: 15vh;
  right: 50%;
  position: absolute;
  border-radius: 50%;
  -moz-transform: scale(80);
  -webkit-transform: scale(80);
  -moz-transform: bg-in 5s cubic-bezier(0.2, 0.3, 0, 1);
  -webkit-animation: bg-in 5s cubic-bezier(0.2, 0.3, 0, 1);
  animation: bg-in 5s cubic-bezier(0.2, 0.3, 0, 1); }

@-webkit-keyframes bg-in {
  from {
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); } }

.reveal-material {
  cursor: pointer;
  animation: grow 0.5s;
  animation-timing-function: ease-out;
  animation-play-state: running;
  -webkit-animation: grow 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-play-state: running; }

.hide-material {
  animation: shrink 0.5s;
  animation-timing-function: ease-out;
  animation-play-state: running;
  -webkit-animation: shrink 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-play-state: running; }

@keyframes grow {
  from {
    transform: scale(0, 0); }
  to {
    transform: scale(1, 1); } }

@keyframes shrink {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(0, 0);
    display: none !important;
    visibility: hidden !important; } }

md-tooltip {
  font-size: 14px;
  font-weight: lighter;
  z-index: 999999; }

.action-icon {
  cursor: pointer; }

.wfm-chart {
  background-color: #ffffff; }
  .wfm-chart .c3-tooltip td > span {
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid white; }
  .wfm-chart .c3-tooltip td, .wfm-chart .c3-tooltip th {
    color: white;
    background-color: rgba(0, 0, 0, 0.54) !important; }
  .wfm-chart .c3-brush .extent {
    stroke: #0099FF !important;
    fill: #0099FF !important; }
  .wfm-chart g.tick line {
    display: none; }

.card-group {
  display: inline-block;
  width: 100%;
  transition: 1s all ease-in-out; }

.wfm-card {
  display: block;
  width: auto;
  background: #ffffff;
  float: left;
  min-width: 15rem;
  min-height: 150px;
  margin: 5px;
  cursor: pointer;
  padding: 10px;
  transition: 0.2s all ease-in-out; }
  .wfm-card:hover, .wfm-card:focus {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2) !important; }

.wfm-card-disabled {
  background-color: rgba(0, 0, 0, 0.26); }
  .wfm-card-disabled:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2) !important;
    cursor: not-allowed; }

/*Overrides bootstrap*/
.wfm-card-list {
  width: 100%; }

.wfm-card-title {
  cursor: pointer;
  min-height: 35px;
  line-height: 35px;
  padding: 0 15px; }
  .wfm-card-title .chevron {
    float: right; }

md-content {
  padding-bottom: 10px;
  background-color: transparent !important; }

.wfm-card-unselected {
  width: 90%;
  margin: 10px auto;
  transition-property: box-shadow, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  background: #ffffff; }

.wfm-card-unselected:hover {
  background-color: #ffffff !important; }

.wfm-card-selected {
  margin: 25px auto;
  width: 95%;
  transition-property: width, height;
  transition-duration: 0.2s;
  transition-timing-function: ease-out; }
  .wfm-card-selected .chevron {
    transition: all 0.2s ease-in-out;
    transform: rotate(90deg); }

wfm-card:first-child .wfm-card-selected {
  margin-top: 10px; }

wfm-card:last-child .wfm-card-selected {
  margin-bottom: 10px; }

md-card {
  border-radius: 0; }

.wfm-card-selected .wfm-card-title {
  background-color: #99d6ff;
  transition: background-color 0.3s linear;
  transition: box-shadow 0.3s linear; }

.wfm-card-content {
  padding: 10px 16px;
  background-color: #ffffff; }

.wfm-time-range-picker-wrap button, .wfm-time-range-picker-wrap input {
  font-size: 14px; }

.wfm-time-range-picker-wrap td {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.wfm-time-range-picker-wrap .wfm-timepicker-wrap td {
  padding: 0; }

.wfm-time-range-picker-wrap .wfm-timepicker-wrap .md-button {
  min-width: 48px;
  width: 48px;
  margin: 0;
  padding: 0;
  height: 25px;
  line-height: 25px;
  min-height: 25px; }

.wfm-time-range-picker-wrap .wfm-timepicker-wrap input {
  width: 50px;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px; }

.wfm-time-range-picker-wrap .next-day-toggle .wfm-btn {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0; }

.wfm-time-range-picker-wrap .has-error > input {
  border: 2px solid #F44336; }

.wfm-time-range-picker-wrap .error-msg-container {
  display: none;
  margin-top: 10px; }

.wfm-time-range-picker-wrap .ng-invalid.ng-invalid-order ~ .error-msg-container.ng-invalid-order {
  display: block; }

.wfm-time-range-picker-wrap .ng-invalid.ng-invalid-empty ~ .error-msg-container.ng-invalid-empty {
  display: block; }

.pagination li {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background-color: white; }
  .pagination li.disabled {
    cursor: not-allowed; }
    .pagination li.disabled a {
      pointer-events: none;
      color: rgba(0, 0, 0, 0.26); }
  .pagination li.active {
    background-color: rgba(0, 0, 0, 0.06); }
  .pagination li a {
    color: #428bca;
    text-decoration: none; }

.pagination {
  margin-top: 10px; }

.pull-pagination {
  text-align: right; }

.working-hours-picker .wfm-list > li > span, .working-hours-picker .ui-grid-menu-items > li > span {
  padding: 0;
  margin: 0; }

.working-hours-picker .wfm-list > li > span.list-item-container.list-header, .working-hours-picker .ui-grid-menu-items > li > span.list-item-container.list-header {
  width: 15% !important;
  float: left;
  display: inline-block; }

.working-hours-picker .wfm-list > li > span.list-item-container, .working-hours-picker .ui-grid-menu-items > li > span.list-item-container {
  width: 84%;
  float: left;
  display: inline-block; }

.working-hours-picker .list-item-container > div {
  width: 12%;
  max-width: 120px;
  float: left;
  display: inline-block; }

.working-hours-picker .list-item-container .wfm-checkbox {
  padding: 0; }
