@charset "UTF-8";
/*Teleopti blue*/
/*sets wfm-block*/
.swatch-list .blue-500-swatch {
  background: #0099FF !important; }

.swatch-list .blue-300-swatch {
  background: #66c2ff !important; }

.swatch-list .blue-100-swatch {
  background: #99d6ff !important; }

.swatch-list .green-400-swatch {
  background: #9CCC65 !important; }

.swatch-list .green-100-swatch {
  background: #c2e085 !important; }

.swatch-list .pink-500-swatch {
  background: #ec38a3 !important; }

.swatch-list .pink-100-swatch {
  background: #f488c8 !important; }

.swatch-list .orange-400-swatch {
  background: #ffc285 !important; }

.swatch-list .orange-600-swatch {
  background: #FB8C00 !important; }

.swatch-list .red-600-swatch {
  background: #ee8f7d !important; }

.swatch-list .gray-054-swatch {
  background: rgba(0, 0, 0, 0.54) !important; }

.swatch-list .gray-300-swatch {
  background: #E0E0E0 !important; }

.swatch-list .gray-012-swatch {
  background: rgba(0, 0, 0, 0.06) !important; }

.swatch-list .gray-026-swatch {
  background: rgba(0, 0, 0, 0.26) !important; }

.swatch-list .gray-087-swatch {
  background: rgba(0, 0, 0, 0.87) !important; }

.swatch-list .gray-100-swatch {
  background: black !important; }

.swatch-list .white-swatch {
  background: #ffffff !important; }

.swatch-list li {
  position: relative;
  width: 100px;
  height: 100px; }
  .swatch-list li p {
    background: #ffffff;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute; }

/*Overrides bootstrap*/
.wfm-datepicker-wrap {
  margin: 5px;
  display: inline-block;
  background-color: #ffffff;
  min-height: 290px; }

.wfm-datepicker table th {
  border-color: transparent; }

.wfm-datepicker .btn-default {
  border-color: transparent !important;
  background: #ffffff; }

.wfm-datepicker .btn-info.active {
  background-color: #99d6ff !important;
  color: #ffffff; }

.wfm-datepicker tbody > tr > td.text-center.h6 {
  opacity: 0.4; }

.wfm-datepicker .btn {
  border-radius: 0;
  outline: none !important; }

.wfm-datepicker .btn.active, .wfm-datepicker .btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.wfm-datepicker .btn-info {
  color: black;
  background-color: transparent;
  border-color: transparent; }

.wfm-datepicker .text-info {
  color: inherit; }

.wfm-datepicker .range > button {
  background-color: #c2e085; }

.wfm-date-range-picker-wrap .wrong-sign {
  display: none;
  color: #ee8f7d; }

.wfm-date-range-picker-wrap .right-sign {
  display: none;
  color: #c2e085; }

.wfm-date-range-picker-wrap .error-msg-container {
  display: none;
  margin-top: 10px; }

.wfm-date-range-picker-wrap .ng-valid .right-sign {
  display: block; }

.wfm-date-range-picker-wrap .ng-invalid.ng-invalid-order ~ .error-msg-container.ng-invalid-order {
  display: block; }

.wfm-date-range-picker-wrap .ng-invalid.ng-invalid-empty ~ .error-msg-container.ng-invalid-empty {
  display: block; }

.wfm-date-range-picker-wrap .ng-invalid .wrong-sign {
  display: block; }

.wfm-date-range-picker-wrap .wfm-datepicker-wrap td.in-date-range button {
  background-color: #c2e085; }

.wfm-date-range-picker-wrap .error-msg-container {
  display: none; }

.wfm-date-range-picker-wrap .wfm-date-picker-wrap {
  display: inline-block; }

.wfm-date-range-picker-wrap .datepickerfix {
  position: absolute;
  top: 8px;
  right: 10px;
  height: 18px;
  width: 18px; }

.wfm-date-range-picker-wrap .sub-header {
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

.text-muted {
  color: rgba(0, 0, 0, 0.54); }

.text-success {
  color: #9CCC65; }

.text-warning {
  color: #FB8C00; }

.text-danger {
  color: #ee8f7d; }

*:focus {
  outline: -webkit-focus-ring-color auto 0; }

body {
  background-color: rgba(0, 0, 0, 0.06);
  font-size: 15px;
  overflow-x: hidden;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important; }
  body a:focus, body a:hover {
    text-decoration: none;
    outline: none !important;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: 0px; }

button, input, select {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important; }

dd {
  margin-left: 40px !important; }

.material-depth-1, .wfm-datepicker-wrap, .layout-container .content, .wfm-radio-list, .wfm-btn-default, .wfm-btn-primary, .sidenav-toggle .sidenav-wrapper, .wfm-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.material-depth-2, .nav-context-menu [class*="context-menu-"], .wfm-btn-default:hover, .wfm-btn-primary:hover, .wfm-fab:hover, .context-menu [class*="context-menu-"] {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); }

.material-trench-1, .wfm-radio-list-item.selected, .wfm-radio-list-item:hover {
  -webkit-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.material-header {
  background-color: #0099FF;
  position: absolute;
  min-height: 130px;
  width: 100%;
  top: 0;
  z-index: -1; }

.wfm-block, .angular-ui-tree-handle, select, .wfm-radio, .wfm-checkbox, .wfm-accordion-content, .wfm-accordion-subheader {
  padding: 5px;
  width: 100%; }

.material-block-content {
  padding: 5px;
  vertical-align: middle; }

.material-title {
  color: rgba(0, 0, 0, 0.54); }

.layout-container {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }

.layout-container .content {
  -webkit-flex: auto;
  flex: auto;
  padding: 10px;
  flex-basis: 70%;
  margin: 62px 10px 0px 10px;
  background-color: #ffffff; }

.animate-show, .wfm-accordion-content {
  opacity: 1; }

.animate-show.ng-hide-add.ng-hide-add-active, .ng-hide-add.ng-hide-add-active.wfm-accordion-content,
.animate-show.ng-hide-remove.ng-hide-remove-active,
.ng-hide-remove.ng-hide-remove-active.wfm-accordion-content {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s; }

.animate-show.ng-hide, .ng-hide.wfm-accordion-content {
  line-height: 0;
  opacity: 0; }

.tree {
  max-height: 800px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.06);
  vertical-align: middle; }
  .tree ol {
    list-style: none; }
  .tree li {
    border-top: 1px solid rgba(0, 0, 0, 0.06); }

.angular-ui-tree-handle span {
  opacity: 1;
  float: right;
  text-align: center;
  color: rgba(0, 0, 0, 0.87); }
  .angular-ui-tree-handle span i {
    opacity: 0; }

.angular-ui-tree-handle.selected span i {
  opacity: 1; }

.angular-ui-tree-handle {
  cursor: pointer;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  border-left: 3px solid transparent; }
  .angular-ui-tree-handle:hover {
    background-color: rgba(0, 0, 0, 0.06); }

.angular-ui-tree-handle.selected {
  padding-left: 5px;
  border-left: 3px solid #ec38a3;
  background-color: #c2e085; }

.angular-ui-tree-handle.selected.ng-hide {
  display: block !important;
  line-height: inherit; }

.angular-ui-tree-handle.ng-hide {
  line-height: 0; }

.toggle-handle {
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: 5px;
  padding-top: 4px; }

.toggle-handle.open i {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg); }

.tree-toggle-group {
  display: flex; }

.wfm-simple-list {
  padding-left: 0px;
  list-style: none;
  max-height: 800px;
  overflow-y: auto;
  margin: 0; }
  .wfm-simple-list .subtext {
    color: rgba(0, 0, 0, 0.54); }

.wfm-simple-list li {
  padding: 5px;
  margin-bottom: 5px;
  overflow: hidden; }

/*.wfm-simple-list li:nth-child(even) {
   background-color: $gray012;
}*/
ul {
  margin-bottom: 0 !important;
  list-style: none;
  padding-left: 0; }

.list-item-container {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block; }

@media (min-width: 600px) {
  .list-item-container {
    max-width: 20em; } }

@media (max-width: 599px) {
  .list-item-container {
    max-width: 12em; } }

@media (max-width: 450px) {
  .list-item-container {
    max-width: 5em; } }

.wfm-list, .ui-grid-menu-items {
  padding-left: 0px;
  list-style: none;
  max-height: 800px;
  overflow-y: auto;
  margin: 0; }

.wfm-list li, .ui-grid-menu-items li {
  padding: 5px;
  cursor: pointer;
  overflow: hidden;
  background-color: #F5F5F5;
  border-left: 3px solid transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  position: relative;
  overflow-x: hidden; }
  .wfm-list li:hover, .ui-grid-menu-items li:hover {
    border-left: 3px solid #9E9E9E;
    background-color: #E0E0E0; }
  .wfm-list li.active, .ui-grid-menu-items li.active {
    border-left: 3px solid #ec38a3;
    background-color: #ffffff; }
  .wfm-list li.active:hover, .ui-grid-menu-items li.active:hover {
    border-left: 3px solid #ec38a3;
    background-color: #ffffff; }
  .wfm-list li i, .ui-grid-menu-items li i {
    vertical-align: text-bottom;
    margin-right: 5px;
    color: #555555;
    padding-bottom: 5px; }

.wfm-leave-behind {
  height: 37px;
  width: 0;
  display: inline !important;
  position: absolute !important;
  right: 0;
  overflow: hidden;
  margin-top: -5px;
  transition: all .5s ease-in-out;
  padding-top: 8px;
  background-color: #cacaca;
  z-index: 999;
  border-bottom: 8px solid transparent; }
  .wfm-leave-behind span {
    padding-left: 5px;
    white-space: nowrap; }
  .wfm-leave-behind i {
    position: justify;
    padding-top: 2px;
    font-size: 18px;
    margin: 0 5px; }
  .wfm-leave-behind p {
    padding-left: 5px;
    margin: 0 5px; }

.wfm-list li:hover > .wfm-leave-behind, .ui-grid-menu-items li:hover > .wfm-leave-behind {
  width: 110px; }

.wfm-list li:hover > .wfm-leave-behind.wfm-leave-behind-1, .ui-grid-menu-items li:hover > .wfm-leave-behind.wfm-leave-behind-1 {
  width: 40px; }

.wfm-list li:hover > .wfm-leave-behind.wfm-leave-behind-2, .ui-grid-menu-items li:hover > .wfm-leave-behind.wfm-leave-behind-2 {
  width: 75px; }

.wfm-list li:hover > .wfm-leave-behind.wfm-leave-behind-3, .ui-grid-menu-items li:hover > .wfm-leave-behind.wfm-leave-behind-3 {
  width: 110px; }

.wfm-list li:hover > .wfm-leave-behind.wfm-leave-behind-4, .ui-grid-menu-items li:hover > .wfm-leave-behind.wfm-leave-behind-4 {
  width: 145px; }

label {
  display: inline !important; }

input {
  font-size: 15px;
  height: 24px; }

input[type='text'], input[type='password'] {
  height: 20px; }

input[type='text'], [type='number'], input[type='password'], select {
  border: none;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1;
  border-bottom: 1px solid #E0E0E0; }
  input[type='text']:focus, [type='number']:focus, input[type='password']:focus, select:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #99d6ff; }

.input-prepend {
  width: 100%;
  margin: 1px; }
  .input-prepend i {
    display: inline-block;
    width: 18px;
    color: rgba(0, 0, 0, 0.54); }
    .input-prepend i:before {
      vertical-align: sub; }
  .input-prepend input[type='text'] {
    display: inline-block;
    width: auto; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(0, 0, 0, 0.26); }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(0, 0, 0, 0.26);
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(0, 0, 0, 0.26);
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(0, 0, 0, 0.26); }

/*Form validation*/
.wfm-form label {
  cursor: pointer !important;
  font-weight: normal !important;
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px; }

.wfm-form input, .wfm-form select {
  width: auto;
  max-width: 100%;
  margin-right: 100%; }

.wfm-form input > .ng-invalid {
  border-bottom: 5px solid red !important; }

.wfm-form input[type="text"],
.wfm-form input[type="number"],
.wfm-form input[type="password"],
.wfm-form input[type="email"] {
  padding-left: 7px; }

.wfm-form .form-input-message {
  opacity: 0;
  height: 0;
  font-size: 13px;
  transition: all 0.5s ease-in-out; }

.wfm-form .formInvalidInput {
  opacity: 1;
  height: auto;
  color: red !important; }

.wfm-form .form-input-wrap {
  padding: 10px 0; }

.wfm-form .animate-input-message {
  line-height: 20px;
  height: auto;
  opacity: 1; }

.wfm-form .animate-input-message.ng-hide-add, .wfm-form .animate-input-message.ng-hide-remove {
  transition: all 0.5s ease-in-out; }

.wfm-form .animate-input-message.ng-hide {
  line-height: 0;
  height: 0;
  opacity: 0; }

select {
  cursor: pointer; }

md-select:not([disabled]):focus .md-select-label {
  border-bottom: #ec38a3 1px solid;
  padding: 0; }

md-select-menu md-option:hover {
  background-color: #E0E0E0; }

md-select-menu md-option[selected], md-select-menu md-option[selected]:focus {
  background-color: #c2e085; }

md-select {
  margin-top: auto; }
  md-select .md-select-label {
    padding: 0;
    height: 21px;
    font-size: 15px; }

md-option {
  height: 30px; }

.wfm-radio input[type='radio'] {
  display: none; }

.wfm-radio .wfm-radio-toggle {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.26);
  width: 20px;
  height: 20px;
  border-radius: 40px;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
  cursor: pointer; }

.wfm-radio input[type=radio]:checked ~ label .wfm-radio-toggle,
.wfm-radio input[type=radio]:checked ~ .wfm-radio-toggle {
  background-color: #66c2ff; }

.wfm-radio .wfm-radio-label {
  margin-left: 25px;
  white-space: nowrap;
  cursor: pointer; }

.wfm-radio-list {
  display: table;
  background-color: #ffffff;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse; }

.wfm-radio-list-item {
  display: table-cell;
  text-align: center;
  padding: 5px;
  border-left: 1px solid rgba(0, 0, 0, 0.1); }
  .wfm-radio-list-item.selected, .wfm-radio-list-item:hover {
    font-weight: bold; }

.wfm-checkbox input[type='checkbox'] {
  display: none; }

.wfm-checkbox .wfm-checkbox-toggle:after {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.26);
  width: 20px;
  height: 20px;
  float: right;
  border-radius: 2px;
  content: " ";
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
  cursor: pointer; }

.wfm-checkbox input[type=checkbox]:checked ~ label .wfm-checkbox-toggle:after,
.wfm-checkbox input[type=checkbox]:checked ~ .wfm-checkbox-toggle:after {
  background-color: #66c2ff;
  content: " ✓";
  text-align: center;
  color: #ffffff; }

.wfm-checkbox .wfm-checkbox-label {
  margin-left: 25px;
  white-space: nowrap;
  cursor: pointer; }

.wfm-switch {
  position: relative;
  height: 24px;
  padding-top: 2px; }
  .wfm-switch input[type='checkbox'] {
    display: none; }
  .wfm-switch .wfm-switch-toggle {
    position: absolute;
    background-color: #E0E0E0;
    width: 48px;
    height: 18px;
    border-radius: 40px;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    margin: 2px 5px;
    cursor: pointer; }
  .wfm-switch .wfm-switch-toggle:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 44px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    z-index: 1;
    left: 5px;
    background-color: #ffffff;
    -webkit-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out; }
  .wfm-switch input[type=checkbox]:checked ~ label .wfm-switch-toggle {
    background-color: #66c2ff; }
  .wfm-switch input[type=checkbox]:checked ~ label .wfm-switch-toggle:after {
    left: 30px; }
  .wfm-switch .wfm-switch-label {
    white-space: nowrap;
    cursor: pointer; }

md-slider .md-focus-thumb, md-slider .md-focus-ring {
  display: none !important; }

md-slider .md-thumb {
  cursor: pointer; }

md-slider canvas {
  display: none; }

/*slider theme*/
md-slider .md-thumb:after {
  border-color: #66c2ff;
  background-color: #66c2ff; }

md-slider .md-track.md-track-fill,
md-slider .md-sign {
  background-color: #66c2ff; }

md-slider .md-sign:after {
  border-top-color: #66c2ff; }

md-slider.md-min .md-thumb:after {
  background-color: #ffffff !important;
  transition: all 0.5s ease-in-out; }

.sub-header {
  padding: 5px;
  background-color: #66c2ff;
  color: rgba(0, 0, 0, 0.87); }

.bottom-header {
  padding: 5px;
  background-color: #99d6ff;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06); }

.sidenav-header {
  padding: 10px 5px !important;
  background-color: #66c2ff;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06); }

.toolbar {
  margin-bottom: 5px; }

.navbar {
  background-color: #0099FF;
  border-radius: 0;
  border: none;
  margin-bottom: 0; }
  .navbar a {
    text-decoration: none;
    display: inline-block; }
  .navbar .brand {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer; }
  .navbar .content {
    height: 22px;
    padding: 15px;
    line-height: 20px;
    width: 98%;
    box-sizing: content-box !important; }
  .navbar .wfm-container {
    padding-left: 5px; }
  .navbar i {
    color: #ffffff;
    vertical-align: middle; }

.result-icon i {
  color: white !important;
  padding: 0px !important;
  margin: 0px !important; }

.breadbin {
  margin-left: 30px;
  font-size: 75%;
  display: inline-flex;
  list-style: none; }

.breadbin a {
  color: white !important; }

.breadcrumb > .active {
  color: white !important; }

.breadcrumb {
  background: transparent; }

.navbar-left {
  float: left;
  max-height: 35px; }

.navbar-right {
  float: right;
  margin-right: 0; }
  .navbar-right button {
    padding: 0 0 !important; }

/*search*/
.global-search {
  font-size: 14px !important;
  padding-left: 5px;
  width: 13rem;
  transition: all 0.5s ease-in-out; }
  .global-search:focus {
    width: 27rem; }

.search-results {
  position: fixed;
  width: 270px;
  font-size: 14px;
  display: block;
  max-height: 75%;
  overflow-y: auto;
  margin: 5px 23px;
  background: #ffffff;
  -webkit-transition: 0.5s all 0.5s ease-in;
  -moz-transition: 0.5s all 0.5s ease-in;
  -ms-transition: 0.5s all 0.5s ease-in;
  -o-transition: 0.5s all 0.5s ease-in;
  transition: 0.5s all 0.5s ease-in;
  opacity: 1; }

.global-search:not(:focus) ~ .search-results {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
  opacity: 0; }

.nav-context-menu {
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none; }
  .nav-context-menu [class*="context-menu-"] {
    transition: all 0.5s ease-in-out;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    min-width: 200px; }
  .nav-context-menu:focus [class*="context-menu-"] {
    visibility: visible;
    opacity: 1;
    z-index: 10; }
  .nav-context-menu:focus i {
    color: rgba(0, 0, 0, 0.54) !important; }
  .nav-context-menu .context-content {
    color: rgba(0, 0, 0, 0.87);
    padding: 5px;
    text-align: left !important;
    background: #ffffff;
    min-width: 300px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2) !important;
    text-transform: initial; }
    .nav-context-menu .context-content p, .nav-context-menu .context-content li {
      font-size: 14px !important; }
    .nav-context-menu .context-content .description {
      padding-left: 5px; }
    .nav-context-menu .context-content footer {
      text-align: right; }
  .nav-context-menu .arrow-up {
    width: 0;
    height: 0;
    float: right;
    margin-top: -10px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 15px solid white; }
  .nav-context-menu .nav-context-menu-left {
    top: 100%;
    right: 100%;
    margin: 20px -22px 0 0;
    text-transform: lowercase; }
    .nav-context-menu .nav-context-menu-left:before {
      left: 100%;
      margin-top: 10px; }

.notification-ticker {
  color: white;
  font-size: 50%;
  background: orange;
  border-radius: 5px;
  margin-top: -40px;
  padding: -1px 1px 0 0;
  z-index: 99999;
  text-align: center; }

.wfm-btn {
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  text-decoration: none !important;
  text-transform: uppercase; }

.wfm-btn-invis-default {
  color: black !important;
  background-color: transparent; }
  .wfm-btn-invis-default:hover {
    background-color: #ececec; }

.wfm-btn-invis-primary {
  color: #0099FF !important;
  background-color: transparent; }
  .wfm-btn-invis-primary:hover {
    background-color: #ececec; }

.wfm-btn-invis-disabled {
  color: rgba(0, 0, 0, 0.26) !important;
  background-color: transparent; }
  .wfm-btn-invis-disabled:hover {
    cursor: not-allowed; }

.wfm-btn-primary-disabled {
  color: rgba(0, 0, 0, 0.26) !important;
  background-color: rgba(0, 0, 0, 0.06); }
  .wfm-btn-primary-disabled:hover {
    cursor: not-allowed; }

.wfm-btn-default {
  color: rgba(0, 0, 0, 0.87) !important;
  background-color: #ffffff; }

.wfm-btn-primary {
  color: #ffffff;
  background-color: #0099FF; }

.wfm-fab {
  border: none;
  margin: 5px;
  cursor: pointer;
  padding: 15px;
  line-height: 16px !important;
  background-color: #ec38a3;
  color: white;
  text-align: center;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  text-decoration: none !important; }
  .wfm-fab.mini {
    padding: 8px !important;
    /*max-height: 34px;*/ }

.wfm-fab.success {
  background-color: #c2e085;
  color: rgba(0, 0, 0, 0.87); }

.wfm-fab.info {
  background-color: #0099FF; }

.grow-out {
  animation: grow 0.2s;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
  -webkit-animation: grow 0.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-play-state: running; }

.shrink-in {
  animation: shrink 0.2s;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
  -webkit-animation: shrink 0.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-play-state: running; }

@keyframes grow {
  from {
    transform: scale(0, 0); }
  to {
    transform: scale(1, 1); } }

@keyframes shrink {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(0, 0);
    display: none !important;
    visibility: hidden !important; } }

.wfm-table {
  width: 100%;
  text-align: left; }

.wfm-table td, .wfm-table th {
  border: 1px solid rgba(0, 0, 0, 0.06);
  color: rgba(0, 0, 0, 0.54);
  padding: 5px;
  background-color: #ffffff; }

.wfm-table th, .wfm-table-header, .ui-grid-header-cell {
  color: rgba(0, 0, 0, 0.87);
  background-color: #99d6ff;
  text-align: center; }

.wfm-table .number-cell {
  text-align: right; }

.wfm-table-multi th:first-child, .wfm-table-multi td:first-child {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
  background-color: #99d6ff; }

/* Datagrid */
.ui-grid-header-cell {
  border: none; }
  .ui-grid-header-cell i {
    text-align: right;
    float: none; }
  .ui-grid-header-cell:hover {
    background-color: #66c2ff;
    cursor: pointer; }

.ui-grid {
  border-left: none;
  border-right: none; }

.big-table-wrapper h4 span {
  float: right;
  margin-right: 16px; }
  .big-table-wrapper h4 span i {
    cursor: pointer; }

.big-table-footer-actions {
  padding: 10px 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  color: rgba(0, 0, 0, 0.87); }

.ui-grid-header-canvas {
  background-color: #99d6ff; }

.ui-grid-viewport.ng-isolate-scope {
  overflow-x: auto !important; }

.ui-grid-top-panel {
  background: #ffffff;
  color: rgba(0, 0, 0, 0.54); }

.ui-grid-header {
  border: none; }

.ui-grid-row .ui-grid-cell {
  border: none;
  background-color: #ffffff !important;
  border-bottom: 1px solid #E0E0E0; }

.ui-grid-header-cell .ui-grid-vertical-bar {
  display: none;
  text-align: left; }

.ui-grid-menu-items {
  box-shadow: none !important; }
  .ui-grid-menu-items li:hover {
    box-shadow: none; }

.ui-grid-menu .ui-grid-menu-inner ul li:hover, .ui-grid-menu .ui-grid-menu-inner ul li.ui-grid-menu-item-active {
  box-shadow: none; }

.ui-grid-selection-row-header-buttons {
  opacity: 1;
  color: rgba(0, 0, 0, 0.87); }

.ui-grid-menu-button {
  top: -39px;
  background: transparent;
  border: none; }

.ui-grid-row-selected::before {
  color: rgba(0, 0, 0, 0.87); }

.big-table-wrapper {
  background-color: #ffffff; }

/*zebra stripe
.ui-grid-row:nth-child(odd) > [ui-grid-row] > .ui-grid-cell{
	background-color: $gray012!important;
}*/
/*icons*/
.ui-grid-icon-ok:before {
  content: "" !important; }

.ui-grid-all-selected.ui-grid-icon-ok:before {
  content: "" !important; }

.ui-grid-row-selected .ui-grid-icon-ok:before {
  content: "" !important; }

.ui-grid-menu-item .ui-grid-icon-ok:before {
  content: "" !important; }

.ui-grid-menu-item .ui-grid-icon-cancel:before {
  content: "" !important; }

.ui-grid-icon-down-dir:before {
  content: "" !important; }

.ui-grid-icon-up-dir:before {
  content: "" !important; }

.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background-color: #c2e085 !important; }

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
  border-color: #E0E0E0 !important;
  border-right: none !important; }

.big-table-footer-actions {
  text-align: right; }

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child {
  border-right: none; }

.modal-box .modalbg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99998;
  background: rgba(0, 0, 0, 0.26); }

.modal-box .modalbg .dialog {
  width: 60%;
  z-index: 99999;
  position: relative;
  top: -20px;
  margin: 10% auto;
  background: #ffffff; }

@media only screen and (max-width: 1200px) {
  .modal-box .modalbg .dialog {
    width: 90%; } }

@media (max-width: 599px) {
  .modal-box .modal-box .modalbg .dialog {
    max-height: 90%;
    overflow-y: auto !important; } }

@media (min-width: 600px) {
  .modal-box .modal-box .modalbg .dialog {
    max-height: 70%;
    overflow-y: auto !important; } }

.modal-box .modal-header {
  padding: 5px;
  background-color: #0099FF;
  color: #ffffff; }

.modal-box .modal-inner-content {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  max-height: 70vh;
  padding: 5px;
  overflow-y: auto; }

.modal-box .modal-footer {
  padding: 10px 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  color: rgba(0, 0, 0, 0.87); }

.modal-box aside {
  text-align: right; }

.wfm-accordion {
  list-style: none;
  padding: 0; }

.wfm-accordion-head {
  width: 100%;
  padding: 5px;
  background-color: #66c2ff;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  cursor: pointer; }

.wfm-accordion-head i {
  float: right;
  transition: all 0.5s ease-in-out; }

.wfm-accordion-subheader {
  background-color: #99d6ff;
  color: rgba(0, 0, 0, 0.87); }

.sidenav-header.accordion-head, .bottom-header.accordion-head {
  list-style: none;
  cursor: pointer; }

.toggle-icon-open {
  transform: rotate(90deg); }

.context-menu {
  position: relative;
  cursor: pointer; }
  .context-menu [class*="context-menu-"] {
    transition: all 0.5s ease-in-out;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    min-width: 200px; }
  .context-menu:focus [class*="context-menu-"] {
    visibility: visible;
    opacity: 1;
    z-index: 10; }
  .context-menu ul {
    color: rgba(0, 0, 0, 0.87);
    text-align: left !important; }
  .context-menu .context-menu-right {
    top: 100%;
    left: 100%;
    margin: -40px 0 0 10px;
    text-transform: lowercase; }
    .context-menu .context-menu-right:before {
      right: 100%;
      margin-top: 10px; }
  .context-menu .context-menu-bottom {
    top: 100%;
    left: 50%;
    margin: 10px 0 0 -100px;
    text-transform: lowercase; }
    .context-menu .context-menu-bottom:before {
      bottom: 100%;
      left: 50%;
      margin-left: -10px; }
  .context-menu .context-menu-left {
    top: 100%;
    right: 100%;
    margin: -40px 10px 0 0;
    text-transform: lowercase; }
    .context-menu .context-menu-left:before {
      left: 100%;
      margin-top: 10px; }

.wfm-slide-tabs .md-ripple-container {
  background-color: transparent !important; }

.wfm-slide-tabs md-content {
  color: rgba(0, 0, 0, 0.87); }

.wfm-slide-tabs md-tab md-tab-label {
  padding-bottom: 10px !important; }

.wfm-slide-tabs .md-header {
  height: 30px !important;
  background-color: #66c2ff !important; }

md-content {
  background-color: #ffffff !important; }

.wfm-slide-tabs md-tabs md-tab-item.md-active {
  color: #3f51b5 !important;
  background-color: #66c2ff !important;
  height: 79%; }

.wfm-slide-tabs md-tabs .md-tab {
  color: rgba(0, 0, 0, 0.54);
  margin-top: -8px; }

.wfm-slide-tabs md-tabs-wrapper {
  height: 30px !important;
  background-color: #66c2ff !important; }

.wfm-slide-tabs md-ink-bar {
  color: #ec38a3;
  background: #ec38a3;
  top: 28px; }

@media (max-width: 599px) {
  .modal-box .modalbg .dialog {
    max-height: 90%;
    overflow-y: auto !important; } }

@media (min-width: 600px) {
  .modal-box .modalbg .dialog {
    max-height: 70%;
    overflow-y: auto !important; } }

.label:hover, .tab-group input[type=radio]:checked + .label {
  background-color: #0099FF; }

/*This is because of growl and bootstrap*/
.alert-error {
  color: rgba(0, 0, 0, 0.54) !important;
  background-color: #ee8f7d;
  border: none;
  border-radius: 0; }

.alert-success {
  color: rgba(0, 0, 0, 0.54) !important;
  background-color: #c2e085;
  border: none;
  border-radius: 0; }

.alert-info {
  color: rgba(0, 0, 0, 0.54) !important;
  background-color: #66c2ff;
  border: none;
  border-radius: 0; }

.alert-warning {
  color: rgba(0, 0, 0, 0.54) !important;
  background-color: #ffc285;
  border: none;
  border-radius: 0; }

.alert-detail {
  color: rgba(0, 0, 0, 0.54) !important;
  background-color: rgba(0, 0, 0, 0.06);
  border: none;
  border-radius: 0; }

.notice-spacer {
  padding: 10px 5px;
  margin-bottom: 5px; }

.notification-list {
  list-style: none;
  padding-left: 0 !important; }
  .notification-list li {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.06);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26); }
  .notification-list i {
    padding-right: 5px;
    color: rgba(0, 0, 0, 0.54); }

.mdi:before {
  font-size: 18px !important; }

.mdi-icon, [class^="ui-grid-icon"]:before, [class*=" ui-grid-icon"]:before {
  display: inline-block;
  font: normal normal normal 24px/1 MaterialDesignIcons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); }

.ui-grid-icon-angle-down:before {
  content: "\f35d"; }

.ui-grid-icon-down-dir:before {
  content: "\f35e"; }

.ui-grid-icon-up-dir:before {
  content: "\f361"; }

.ui-grid-icon-sort-alt-up:before {
  content: "\f447"; }

.ui-grid-icon-sort-alt-down:before {
  content: "\f448"; }

.ui-grid-icon-cancel:before {
  content: "\f1f4"; }

.ui-grid-icon-menu::before {
  content: "\f253"; }

.ui-grid-icon-ok::before {
  content: "\f1d1"; }

.sidenav-toggle input[type='checkbox'] {
  display: none; }

.sidenav-toggle label {
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  max-width: none;
  margin: 0; }

.sidenav-toggle label i {
  margin: 5px; }

.sidenav-toggle .sidenav-wrapper {
  background-color: #ffffff;
  cursor: pointer;
  margin-top: 62px; }

.layout-container .sidenav {
  background-color: #ffffff;
  flex-basis: 15%;
  top: 0;
  height: 1050px;
  height: 100vh;
  bottom: 0;
  transition: all 0.5s ease-in-out;
  padding-top: 52px;
  overflow: hidden;
  text-overflow: hidden; }

.sidenav.is-hidden {
  overflow: hidden;
  text-overflow: hidden;
  transition: all 0.5s ease-in-out;
  flex-basis: 0.00001%; }

.tile-footer {
  text-align: right; }

.sidenav-toggle label {
  padding: 5px 0px; }

md-progress-linear .md-bar {
  background-color: #ec38a3 !important; }

md-progress-linear[md-mode=buffer] .md-dashed:before {
  background-color: #c5cae9;
  animation: none;
  -webkit-animation: none; }

md-progress-circular .md-inner .md-left .md-half-circle {
  border-left-color: #ec38a3; }

md-progress-circular .md-inner .md-left .md-half-circle,
md-progress-circular .md-inner .md-right .md-half-circle,
md-progress-circular .md-inner .md-gap {
  border-top-color: #ec38a3; }

md-progress-circular .md-inner .md-right .md-half-circle {
  border-right-color: #ec38a3; }

.mini-spinner {
  transform: scale(0.2) !important; }

md-tooltip {
  z-index: 999999; }

.wfm-chart {
  background-color: #ffffff; }
  .wfm-chart .c3-tooltip td > span {
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid white; }
  .wfm-chart .c3-tooltip td, .wfm-chart .c3-tooltip th {
    color: white;
    background-color: rgba(0, 0, 0, 0.54) !important; }
  .wfm-chart .c3-brush .extent {
    stroke: #0099FF !important;
    fill: #0099FF !important; }
  .wfm-chart g.tick line {
    display: none; }

.card-group {
  display: inline-block;
  width: 100%;
  transition: 1s all ease-in-out; }

.wfm-card {
  display: block;
  width: auto;
  background: #ffffff;
  float: left;
  min-width: 10rem;
  min-height: 150px;
  margin: 5px;
  cursor: pointer;
  padding: 10px;
  transition: 0.2s all ease-in-out; }
  .wfm-card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2) !important; }

.wfm-card-disabled {
  background-color: rgba(0, 0, 0, 0.26); }
  .wfm-card-disabled:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2) !important;
    cursor: not-allowed; }

/*Overrides bootstrap*/
.wfm-card-list {
  width: 100%; }

.wfm-card-title {
  cursor: pointer;
  min-height: 35px;
  line-height: 35px;
  padding: 0 15px;
  background-color: #99d6ff; }
  .wfm-card-title .chevron {
    float: right; }

md-content {
  padding-bottom: 10px; }

.wfm-card-unselected {
  width: 90%;
  margin: 10px auto;
  transition: all .2s ease-out; }

.wfm-card-unselected:hover {
  background-color: #99d6ff;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); }

.wfm-card-selected {
  margin: 25px auto;
  width: 95%;
  transition-property: width, height;
  transition-duration: 0.2s;
  transition-timing-function: ease-out; }
  .wfm-card-selected .chevron {
    transition: all 0.2s ease-in-out;
    transform: rotate(90deg); }

wfm-card:first-child .wfm-card-selected {
  margin-top: 10px; }

wfm-card:last-child .wfm-card-selected {
  margin-bottom: 10px; }

.wfm-card-selected .wfm-card-title {
  background-color: #99d6ff;
  transition: background-color 0.3s linear;
  transition: box-shadow 0.3s linear; }

.wfm-card-content {
  padding: 10px 16px;
  background-color: #ffffff; }

.wfm-time-range-picker-wrap button, .wfm-time-range-picker-wrap input {
  font-size: 15px !important; }

.wfm-time-range-picker-wrap td {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.wfm-time-range-picker-wrap .wfm-timepicker-wrap td {
  padding: 0; }

.wfm-time-range-picker-wrap .wfm-timepicker-wrap .md-button {
  min-width: 48px;
  width: 48px;
  margin: 0;
  padding: 0;
  height: 25px;
  line-height: 25px;
  min-height: 25px; }

.wfm-time-range-picker-wrap .wfm-timepicker-wrap input {
  width: 50px;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px; }

.wfm-time-range-picker-wrap .next-day-toggle .wfm-btn {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0; }

.wfm-time-range-picker-wrap .has-error > input {
  border: 2px solid #F44336; }

.wfm-time-range-picker-wrap .error-msg-container {
  display: none;
  margin-top: 10px; }

.wfm-time-range-picker-wrap .ng-invalid.ng-invalid-order ~ .error-msg-container.ng-invalid-order {
  display: block; }

.wfm-time-range-picker-wrap .ng-invalid.ng-invalid-empty ~ .error-msg-container.ng-invalid-empty {
  display: block; }

.pagination li {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background-color: white; }
  .pagination li.disabled {
    cursor: not-allowed; }
    .pagination li.disabled a {
      pointer-events: none;
      color: rgba(0, 0, 0, 0.26); }
  .pagination li.active {
    background-color: rgba(0, 0, 0, 0.06); }
  .pagination li a {
    color: #428bca;
    text-decoration: none; }
